<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>NobbzDevHome</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header class="top-bar">
      <nav class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">NobbZ New Home</li>
        </ul>
      </nav>
      <nav class="top-bar-right">
        <ul class="menu">
          <li class="menu-text"><%= version_info() %></li> <!-- TODO: move this into a footer -->
        </ul>
      </nav>
    </header>
    <main class="">
      <div class="grid-x grid-padding-x">
        <p class="cell alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="cell alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <div class="cell medium-2"><!-- TODO: add content --></div>
        <div class="cell medium-10">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
